#alpha{
    display: flex;
    align-items: center;
    justify-content: center
}

#alpha a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 24px;
}

#alpha a:hover{
    text-decoration: none;
    color: black;
    background-color: pink;
    padding: 10px;
}




#first-letter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#first-letter div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#first-letter div img{
    width: 300px;
    height: auto;
    object-fit: cover;
    border: 1px solid black;
}

#first-letter div h2{
    position: absolute;
    width: 300px;
    color: black;
    background-color: rgb(255, 213, 213);
    text-align: center;
    border: 1px solid black;
}

#first-letter div button{
    width: 300px;
}

#logo_gretaeat{
    display: flex;
    justify-self: center;
    width: 50%;
}