* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
  }

#menu_nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 249, 225);
    box-shadow: 0px 0px 20px rgb(207, 207, 207);
}

#menu_nav img {
    position: absolute;
    left: 7px;
    width: auto;
    height: 55px;
}

#menu_ul {
    width: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu_ul li {
    list-style: none;
    padding: 20px 20px;
}

#menu_ul li a{
    padding: 20px 20px;
    color: black;
    text-decoration: none;   
    text-transform: uppercase; 
    font-family: 'Berkshire Swash';

    &:hover{   /*SCSS permet de mettre le hover ici*/
        background-color: orange;
    }
}

#menu_ul li a:hover{
    color: white
}


footer{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 213, 213);
    text-align: center;
    align-content: center;
    bottom: 0;

    position: relative;
    bottom: 0;
}

footer a{

    text-decoration: none;
}

@media (max-width: 700px) {
    #menu_nav {
        display: flex;
        flex-direction: column;
    }

    #menu_nav img {
        position: relative;
        height: 70px;
        width: 70px;
        align-self: center;
    }

    #menu_ul {
        width: 100%;   
        flex-flow: column;
        background-color: rgb(255, 235, 157); /*couleur un peu différente pour la version mobile pour mieux visualiser le changement*/
    }

    #menu_ul li {
        padding: 0px 0px;
        display: flex;
        justify-content: center;

        &:hover{   /*SCSS permet de mettre le hover ici*/
            width: 100%;
        }
    }
    
    #menu_ul li a{
        padding: 10px 10px;
        display: flex;
        justify-content: center;  
    
        &:hover{   /*SCSS permet de mettre le hover ici*/
            background-color: orange;
            width: 100%;
        }
    }
}